/* RESET SETTINGS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #fff5e2;
}

.wrapper{
  width: 50%;
}
header{
  background-color: #fdbb40;
  padding: 60px;

}

main{
background-color: #fff;
}
.main-content{
  width: 80%;
  margin: 0 auto;
}
.main-title h3{
  padding-bottom: 20px;
}

.main-core{
  display: flex;
  padding-bottom: 20px;

}
.main-core img {
  height: 40px;
}

.main-menu-right, .main-menu-left {
  width: 50%;
  display: inline-block;

}

.main-options{
  text-align: center;
    padding-bottom: 15px;
}
.main-options button {
  display: block;
  margin: 20px auto 0;

}

footer{
  background-color: #d33359;
  display: flex;
  justify-content: space-between;
  padding: 40px 10px;

}
footer h3, footer span {
  color: #fff;
}
